<div class="home">
	<h1 class="home-title">2 entrega Coderhouse</h1>
	<form method="post" action="/api/sessions/logout">
		<p>Bienvenido {{user.email}}</p>
		<p>{{user.role}}</p>
		<input type="submit" value="Logout">
	</form>
</div>

<nav >
	<ul class="navbarHome">
		<li > <a class="home-item" href="./products">Productos</a></li>
		<li > <a class="home-item" href="./chat">Chat</a></li>
		<li > <a class="home-item" href="./carts/">Carrito</a></li>
	</ul>
</nav>