<div class="login-container">
	<h1 class="login-title">Register</h1>

    <div>
    <p>¿Ya tienes un usuario?</p>
    <a href="/login">Click aqui</a>
  </div>

<div>
  <form id="registerForm">

    <label>Nombre</label>
    <input type="text" name="first_name" required>

    <label>apellido</label>
    <input type="text" name="last_name" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Contraseña</label>
    <input type="password" name="password" required>

    <input type="submit" value="enviar">
  </form>
</div>

</div>

<script src="/js/register.js"></script>